certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
cycler==0.10.0
dataclasses==0.8
docopt==0.6.2
Flask==2.0.1
Flask-Cors==3.0.10
Flask-MySQL==1.5.2
idna==3.2
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kiwisolver @ file:///C:/ci/kiwisolver_1612282446297/work
MarkupSafe==2.0.1
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1603480701039/work
olefile==0.46
pandas @ file:///C:/ci/pandas_1608056614942/work
patsy==0.5.1
Pillow @ file:///C:/ci/pillow_1625663293114/work
pipreqs==0.4.10
PyMySQL==1.0.2
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
requests==2.26.0
scikit-learn==0.24.2
scipy @ file:///C:/ci/scipy_1597675683670/work
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn==0.0
statsmodels==0.12.2
threadpoolctl==2.2.0
tornado @ file:///C:/ci/tornado_1606942379977/work
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
wincertstore==0.2
yarg==0.1.9
zipp==3.5.0
